/CollatzProblem/nbproject/private/
/CollatzProblem/build/
/GGT/nbproject/private/
/GGT/build/
/Fibonacci/nbproject/private/
/Fibonacci/build/
/Mogroh/nbproject/private/
/Mogroh/build/
/Aufgabe3_1/nbproject/private/
/Aufgabe3_1/build/
/BinarySearch/nbproject/private/
/BinarySearch/build/
/Aufgabe5_2-LinkedQueue/nbproject/private/